<!DOCTYPE HTML>
<html>
<head>
    <title> Class </title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

    <header>
        <div class="links">
            <a href="/" class="active">Teachers</a>
            <a href="/students">Students</a>
        </div>
    </header>

    {%block content%}

    {% endblock content%}

</body>
</html>
