@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --primary-color:#002d54;
}
*{
    padding: 0;
    margin: 0;
    border: none;
}
body{
    background-color: var(--primary-color);
    font-family: 'Roboto',sans-serif;
}
header{
    background-color: white;
    box-sizing: border-box;
    padding: 32px;
    width: 100%;
    text-align: center;
}
.links{
    font-size: 22px;
}
.links a{
    text-decoration: none;
    color: #777;
    position: relative;
}
.links a + a{
    margin-left: 32px;
}
.links a.active{
    font-weight: bold;
    color: var(--primary-color);
}
.links a:hover{
    color: var(--primary-color);
}
.links a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -4px;
}
.links a:hover::after{
    width: 100%;
    transition: width 700ms ease-in-out ;
}

/*Body Teachers - Image */

.card{
    background-color: white;
    width: 800px;
    height: 600px;
    margin: 45px auto;

    display: grid;
    grid-template-columns: repeat(2,1fr);

    box-shadow: 0px 2px 6px -2px rgba(0,0,0,0.4);
    animation: up 200ms ease;
}
@keyframes up {
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
    }
}
.avatar{
    width: 320px;
}

/* Body Teacher - Details */

.details{
    width: 480px;
    padding:32px 32px 0 32px;
}
.details .item{
    border-top: solid 1px rgba(0,0,0,0.1);
    padding: 16px 0;
}
.details h3,
.details .item div:nth-child(1){
    font-size: 14px;
    line-height: 24px;
    color: var(--primary-color);
    letter-spacing: 0.7px;
    font-weight: normal;
}
.details h3{
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
}
.details .item div:nth-child(2){
    color: var(--primary-color);
    font-weight: bold;
    font-size:18px;
}
.details .item span{
    padding: 8px 16px;
    background-color:var(--primary-color);
    border-radius: 16px;
    color: white;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;    
}

/* Form  */

input{
    width: 93%;
    outline: none;
    font-weight: bold;
}
input::placeholder{
    font-size: 14px;
}
input[type='date']{
    display: flow-root;
}
input[type='radio']{
    width: initial;
    margin-right: 2px;
}
button[type='submit'],
a.button{
    background-color: var(--primary-color);
    width: 90%;
    margin-top:20px;
    padding: 8px 20px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
a.button{
    text-decoration: none;
    text-align: center;
    display: block;
    box-sizing: border-box;
    margin-top: 0;
}