        <div class="item">
            <div>Avatar URL</div>
            <input type="url"
                   name='avatar_url'
                   placeholder='http://'
                   value='{{teacher.avatar_url}}'
            >
        </div>

        <div class="item">
            <div>Nome Completo</div>
            <input type="text"
                   name='name'
                   placeholder='Nome do professor'
                   value='{{teacher.name}}'
            >
        </div>

         <div class="item">
            <div>Idade</div>
            <input 
                type="date" 
                name="birth"
                value='{{teacher.birth}}'
            >
        </div>

         <div class="item">
            <div>Grau de escolaridade</div>
            <select name="education_level">
                <option value="high_school">Ensino Médio Completo</option>
                <option value="college">Ensino Superior Completo</option>
                <option value="master">Mestrado</option>
                <option value="doctorate">Doutorado</option>
            </select>
        </div>

         <div class="item">
            <div>Tipo de aula</div>
            <span>
                <input 
                    type="radio" 
                    name="location"
                    value='Presencial'
                    {% if teacher.location =='Presencial'%}
                        checked
                    {%endif%} > 
                Presencial
            </span>

            <span>
                <input 
                    type="radio" 
                    name="location"
                    value='Distância'
                     {% if teacher.location =='Distância' %}
                        checked
                    {% endif %}>
                Distância
            </span>
        </div>

         <div class="item">
            <div>Área de atuação</div>
            <input 
            type="text"
            name='ocupation'
            placeholder='Separe as matérias que você pode lecionar por vírgula'
            value='{{teacher.ocupation}}'
            >
        </div>

    <button type='submit'>Salvar</button>

